//////////////////////////////////////////////////////////////////////////
//
//
//             INTERESTS SIDEBAR
//
//
//////////////////////////////////////////////////////////////////////////

.interests-sidebar{
    $this: '.interests';
    $card-height: 7rem;
    $title-position: 1.5rem;

    position: absolute;
    margin-top: 3rem;
    left: -4rem;
    width: 15rem;

    #{$this}-header{
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    #{$this}-body{
        
    }

    #{$this}-card{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: $card-height;
        margin-bottom: 1.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: 
        linear-gradient(0deg, rgba(2,0,36,0.6362745781906513) 0%, rgba(205,0,255,0.10406169303658963) 100%);
        border-radius: 10px;

        &-title{
            position: absolute;
            bottom: $title-position;
            left: $title-position;
            color: $white;
            z-index: 1;
        }

        &-body{
            position: relative;
            height: $card-height;
            width: 100%;
            overflow: hidden;
            border-radius: 10px;

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 15rem;
            }
        }

        &-add{

        }
    }
}