//////////////////////////////////////////////////////////////////////////
//
//
//             Nagivation verticale
//
//
//////////////////////////////////////////////////////////////////////////

.nav {
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 60px;
   top: 10vh;
   height: 80vh;
   position: fixed;
   margin: 0;
   padding-left: 0;
   background-color: white;
   border-top-right-radius: 60px;
   border-bottom-right-radius: 60px;

}

.nav-item {
   list-style-type: none;
   padding: 15px 0px;
   position: relative;
}
.nav-item.active {
   background-color: $pink;
}
.nav-item.active::before {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   width: 30px;
   height: 100%;
   background-color: white;
}


.nav-item a:link, .nav-item a:visited {
   display: block;
   position: relative;
   padding: 10px 0px 10px 10px;
   background-color: white;
   color: #EEAACC;
   width: 40px;
   margin-left: 10px;
   font-size: 1.2em;
   text-decoration: none;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.nav-item.active a:link, .nav-item.active a:visited {
   color: white;
   background-color: $pink;
}

.nav-item.active a::before {
   content: "";
   position: absolute;
   top: -15px;
   left: 0px;
   width: 100%;
   height: 15px;
   background-color: white;
   border-bottom-right-radius: 15px;
}
.nav-item.active a::after {
   content: "";
   position: absolute;
   bottom: -15px;
   left: 0px;
   width: 100%;
   height: 15px;
   background-color: white;
   border-top-right-radius: 15px;
}



// svg{
//     position: fixed;
//     height: 100vh;
// }

// canvas{
//     position: absolute;
//     z-index: 10;
// }


// .nav{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     align-items: center;
//     width: 100%;
//     height: 4rem;
//     position: fixed;
//     margin: 0;
//     padding-left: 0;
//     background-color: $white;
//     border-bottom-left-radius: 80px;
//     border-bottom-right-radius: 80px;
    

//     &-item{
//         display: block;
//         padding: 0 12px;
//         z-index: 1;

//         a{
//             color: $secondary;
//             font-size: 1.3rem;
//         }

//         &:last-of-type{
//             margin-bottom: 0;
//         }
//     }

//     @include responsive(md){
//         flex-direction: column;
//         justify-content: center;
//         align-content: center;
//         width: 111px;
//         height: 100vh;
//         border-top-right-radius: 80px;
//         border-bottom-right-radius: 80px;
//         border-bottom-left-radius: 0;
//         mask-image: url('/blob.svg');
//         mask-repeat: no-repeat;
//         mask-position: center right;
//         mask-composite: exclude;

//         &-item{
//             padding: 0;
//             margin-bottom: 4rem;
//             clip-path: url('/blob.svg');
//         }
//     }
// }

