//////////////////////////////////////////////////////////////////////////
//
//
//             Nagivation verticale
//
//
//////////////////////////////////////////////////////////////////////////

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100vh;
    position: fixed;
    margin: 0;
    padding-left: 0;
    background-color: white;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;

    @include responsive-entre(xs, sm){
        flex-direction: row;
        width: 100vw;
        height: 60px;
    }

    &-item{
        list-style-type: none;
        padding: 15px 0px;
        position: relative;

        &:hover, &.active{
            background-color: $pink;

            &::before{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 30px;
                height: 100%;
                background-color: white;
            }

            a{
                &:link, &:visited{
                    color: $primary;
                    background-color: $pink;
                }

                &::before{
                    content: "";
                    position: absolute;
                    top: -15px;
                    left: 0px;
                    width: 100%;
                    height: 15px;
                    background-color: white;
                    border-bottom-right-radius: 15px;
                }

                &::after{
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 0px;
                    width: 100%;
                    height: 15px;
                    background-color: white;
                    border-top-right-radius: 15px;
                }
            }
        }

        a{
            &:link, &:visited{
                display: block;
                position: relative;
                padding: 10px 0px 10px 10px;
                background-color: white;
                color: $tertiary;
                width: 40px;
                margin-left: 10px;
                font-size: 1.2em;
                text-decoration: none;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }
    }
}