//////////////////////////////////////////////////////////////////////////
//
//
//             Sidebar droite
//
//
//////////////////////////////////////////////////////////////////////////

.sidebar{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    right: 0;
    margin: 0;
    height: 100vh;
    width: 15rem;
    background-color: $white;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;

    @include responsive-entre(xs, md){
        display: none;
    }
}